name: Check Stock Availability

on:
  schedule:
    # You still need to slow this down.
    # 529 errors will happen even with Python if you run it too often from a server.
    - cron: '*/5 * * * *' # Set to 15 minutes
  workflow_dispatch: 

jobs:
  check-stock:
    runs-on: ubuntu-latest
    steps:
      - name: Check out repository
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.11' # Use a modern Python version

      - name: Install Python dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt

      - name: Run the stock check script
        run: python check.py
        env:
          DATABASE_URL: ${{ secrets.DATABASE_URL }}
          TELEGRAM_BOT_TOKEN: ${{ secrets.TELEGRAM_BOT_TOKEN }}
          TELEGRAM_CHAT_ID: ${{ secrets.TELEGRAM_CHAT_ID }}